<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1>Upload File CSV</h1>
    <form action="{{ url_for('process_file') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Proses File</button>
    </form>
</body>
</html>
